.contenedorPrincipalDeItems {
    background-color: #1E2528;
    max-width: 80%;
    margin: 0 auto;
    padding: 1rem; ///////////////////REVISAR EN EL FUTURO -- 19/1/2022
    border-left: 1px solid rgba(247, 247, 247, 0.1);
    border-right: 1px solid rgba(247, 247, 247, 0.1);
    border-bottom: 1px solid rgba(247, 247, 247, 0.1);
    
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .contenedorPrincipalDeItems {
        max-width: 90%;
       ;
    }
}

@media screen and (max-width: 767px){
    .contenedorPrincipalDeItems {
        max-width: 100%;
       ;
    }
}

.spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    padding: 5rem;
}
.spinner:first-child {
    width: 100px;
}