.contenedorItem {
  background-color: rgb(31, 32, 35);
  margin: 5px;
  display: inline-block;
  box-shadow: 6px 6px 12px rgba(197, 197, 197, 0.1),
    -6px -6px 12px rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(197, 197, 197, 0.3);
  border-radius: 5px;


  .imagenItem {
    width: 100%;
   // padding: 0.8em;
    border-radius: 5px;
  }

  .itemCountEinfo {

    .nombreYprecio {
      
      text-align: center;

      .itemNombre {
        margin-top: 1rem;
      }

      .itemPrecio,
      .itemNombre {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-bottom: 5px !important;
        padding: 0 7px;

      }

      /* From cssbuttons.io by @adamgiebl */
      .botonVerMas {
        background-color: rgb(31, 32, 35);
        font-size: 18px;
        letter-spacing: 2px;
        text-transform: uppercase;
        display: inline-block;
        text-align: center;
        font-weight: bold;
        padding: 0.5em 1em;
        border: 3px solid rgb(26, 245, 106);
        border-radius: 2px;
        position: relative;
        color: rgb(26, 245, 106);
        text-decoration: none;
        transition: 0.3s ease all;
        z-index: 1;
        margin-bottom: 1rem;
      }

      .botonVerMas:before {
        transition: 0.5s all ease;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0;
        opacity: 0;
        content: '';
        background-color: rgb(26, 245, 106);
        z-index: -1;
      }

      .botonVerMas:hover,
      .botonVerMas:focus {
        color: white;
      }

      .botonVerMas:hover:before,
      .botonVerMas:focus:before {
        transition: 0.5s all ease;
        left: 0;
        right: 0;
        opacity: 1;
      }

      .botonVerMas:active {
        transform: scale(0.9);
      }

    }

  }

  @media screen and (max-width: 767px) {
    .contenedorItem {
      margin: 3px;

      .imagenItem {
        padding: 0.5em;
      }

    }

    .botonVerMas {
      font-size: 12px !important;
    }
  }
  @media screen and (max-width: 500px) {
    .itemPrecio,
    .itemNombre {
          font-size: 17px;
          
    } 
  }
}